<mat-toolbar>
  <span style="margin-right: 24px">NEXT Flight</span>
  <button mat-button class="" aria-label="Example icon-button with heart icon" routerLink="home">
    <mat-icon>home</mat-icon>
    Dashboard
  </button>
  <button mat-button class="" aria-label="Example icon-button with heart icon" routerLink="map">
    <mat-icon>map</mat-icon>
    Map
  </button>
  <button mat-button class="" aria-label="Example icon-button with heart icon">
    <mat-icon>flight_takeoff</mat-icon>
    Jobs
  </button>
  <button mat-button class="" aria-label="Example icon-button with heart icon">
    <mat-icon>savings</mat-icon>
    Finance
  </button>
  <button mat-button class="" aria-label="Example icon-button with heart icon">
    <mat-icon>flight</mat-icon>
    Planes
  </button>
  <button mat-button class="" aria-label="Example icon-button with heart icon">
    <mat-icon>group</mat-icon>
    Employees
  </button>
  <span class="spacer"></span>
  <button mat-button class="" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
    Login
  </button>
</mat-toolbar>

<div class="outlet">
  <router-outlet></router-outlet>
</div>
