<h1>Company Name</h1>
<div class="grid">
  <app-dashboard-card valueText="5000$" iconName="account_balance" title="Balance"></app-dashboard-card>
  <app-dashboard-card valueText="120.000$ " iconName="savings" title="Company Value"></app-dashboard-card>
  <app-dashboard-card valueText="+10000$" iconName="payment" title="Income"></app-dashboard-card>
  <app-dashboard-card valueText="2/10 pending" iconName="assignment" title="Contracts"></app-dashboard-card>
  <app-dashboard-card valueText="2/10 flying" iconName="flight_takeoff" title="Aircraft"></app-dashboard-card>
  <app-dashboard-card valueText="10 Employees" iconName="people" title="Employees"></app-dashboard-card>
  <app-dashboard-card valueText="2 FBOs" iconName="night_shelter" title="FBOs"></app-dashboard-card>
  <app-dashboard-card valueText="100 / 1000 XP" iconName="science" title="Level"></app-dashboard-card>
  <app-dashboard-card valueText="1/10 online" iconName="share" title="Social"></app-dashboard-card>
</div>
<app-notifications></app-notifications>
