<h2>Boeing 737</h2>
<p>N1699A</p>
<p>Max Payload <b>215613</b> lbs</p>
<p>Seats 0/0/0</p>
<div class="row button-row">
  <span>Current location <a href="#"><b>EDDF</b></a></span>
  <button mat-flat-button><mat-icon>track_changes</mat-icon></button>
</div>
<div class="row button-row">
  <span>Condition: <app-progress></app-progress></span>
  <button mat-flat-button><mat-icon>flight_takeoff</mat-icon></button>
</div>
<div class="row button-row">
  <span>Engine(s):</span>
  <button mat-flat-button><mat-icon>more_horiz</mat-icon></button>
</div>
