:host {
  width: 80%;
  background: #9B51E0;
  color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
}


.button-row{
  justify-content: space-between;
  padding-bottom: 8px;
}
